* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Philosopher";
  src: local("Philosopher");
  src: url(../fonts/Philosopher-Regular.ttf);
}

html {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto!";
  src: local("Roboto");
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
}

body {
  background-color: #fff;
  margin: 0;
}
header {
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px;
  background-color: #004c8e;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}
li {
  display: inline;
  margin-right: 100px;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
}
nav {
  padding-bottom: 0px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  header {
    position: fixed;
    top: 0;
    z-index: 4;
    height: 60px;
  }
}

li:last-child {
  margin-right: 0px;
}

.header_logo {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
  width: 1600px;
}

@media screen and (max-width: 900px) {
  .header_logo {
    padding: 10px 40px 10px 10px;
  }
}

.logo {
  width: min(8vw, 80px);
  height: min(8vw, 80px);
}

@media screen and (max-width: 900px) {
  .logo {
    width: 40px;
    height: 40px;
  }
}

.secition-about {
  height: 640px;
  background: url(../img/fon.jpg) center/cover;
  background-image: linear-gradient(to bottom, #004c8eaa, #111111c0),
    url(../img/fon.jpg);
  background-size: center/cover;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.secition-about__title_one {
  color: #fff;
  font-size: min(5vw, 70px);
  margin: 0px 40px 30px 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .secition-about__title_one {
    font-size: 40px;
    margin: 0px 0px 30px 00px;
  }
}

@media screen and (max-width: 320px) {
  .secition-about__title_one {
    font-size: min(12vw, 40px);
  }
}

@media screen and (max-width: 260px) {
  .secition-about__title_one {
    font-size: 28px;
  }
}

.secition-about__title_two {
  color: #fff;
  font-size: min(5vw, 70px);
  margin: 0;
  margin-bottom: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  .secition-about__title_two {
    font-size: min(7vw, 28px);
  }
}

@media screen and (max-width: 320px) {
  .secition-about__title_two {
    font-size: min(8vw, 22px);
  }
}

@media screen and (max-width: 260px) {
  .secition-about__title_two {
    font-size: 18px;
  }
}

.secition-about__title_three {
  color: #fff;
  font-size: min(2vw, 30px);
  margin: 0;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .secition-about__title_three {
    font-size: 20px;
  }
}

@media screen and (max-width: 560px) {
  .secition-about__title_three {
    font-size: min(4.5vw, 20px);
  }
}

@media screen and (max-width: 370px) {
  .secition-about__title_three {
    font-size: 15px;
  }
}

.secition-about__button {
  width: min(40vw, 350px);
  height: min(10vw, 70px);
  border-radius: 15px;
  border: 2px solid #c53232;
  background: linear-gradient(#b22525, #e6353e);
  color: #fff;
  font-size: min(2vw, 20px);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.secition-about__button:hover {
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0px 6px 15px 0px #001f212c;
  border: 2px solid #f33333;
}

@media screen and (max-width: 800px) {
  .secition-about__button {
    width: min(70vw, 300px);
    height: min(20vw, 60px);
    font-size: min(5vw, 16px);
  }
}

@media screen and (max-width: 300px) {
  .secition-about__button {
    width: 210px;
    height: 44px;
    font-size: 14px;
  }
}

.secition-about__button:hover {
  cursor: pointer;
}

.secition-description__title {
  color: #004c8e;
  font-size: 40px;
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 400px) {
  .secition-description__title {
    font-size: min(9vw, 40px);
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 260px) {
  .secition-description__title {
    font-size: 22px;
  }
}

.secition-description {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.secition-description__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.secition-description-box {
  width: 300px;
  margin: 30px;
  padding: 10px;
  background: linear-gradient(#002e55, #004c8e);
  border-radius: 20px;
  border: 1px solid #0059a7;
  box-shadow: 2px 4px 7px 0px #11111152;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1080px) {
  .secition-description-box {
    min-height: 300px;
    justify-content: center;
  }
}

.secition-description-box-red {
  width: 470px;
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 4px 7px 0px #11111152;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1080px) {
  .secition-description-box-red {
    min-height: 360px;
    justify-content: center;
  }
}

@media screen and (max-width: 1250px) {
  .secition-description-box-red {
    order: 1;
  }
}

@media screen and (max-width: 719px) {
  .secition-description-box-red {
    justify-content: center;
    order: unset;
  }
}

.secition-description-box_title {
  color: #fff;
  font-size: 20px;
  margin: 10px;
  margin-bottom: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.secition-teacher {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.secition-description__subtitle {
  color: #397bb6;
  text-align: center;
  text-shadow: 0px 1px 3px #0000001f;
  margin: 0px 50px 20px 50px;
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  .secition-description__subtitle {
    font-size: 16px !important;
    margin: 0px 20px 20px 20px;
  }
}

.secition-teacher-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
}

.secition-teacher-box__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(#002d5596, #004c8e);
  padding: 8px;
  position: relative;
}

.secition-teacher-box__default {
  background: linear-gradient(#0000 0%, #0000 100%);
  border: 2px solid #0059a7;
  box-shadow: 0px 0px 0px 0px none;
  text-align: center;
  justify-content: flex-end;
  max-width: 250px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 4px 7px 0px #11111152;
  text-align: center;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

@media screen and (max-width: 620px) {
  .secition-teacher-box__default {
    max-width: 300px;
  }
}

.secition-teacher-box__bgImage {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.secition-teacher-box__bar {
  position: relative;
  border-radius: 20px 20px 0px 0px;
}

.secition-teacher-box__barSettings {
  background: linear-gradient(#002d5596, #004c8e);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  border-top: 2px solid #0059a7;
}

.secition-teacher-box__text {
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  z-index: 1;
  overflow: auto;
  position: relative;
}

.section-events-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.section-events-box__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(#002d5596, #004c8e);
  padding: 8px;
  position: relative;
}

.section-events-box__default {
  background: linear-gradient(#0000 0%, #0000 100%);
  border: 2px solid #0059a7;
  box-shadow: 0px 0px 0px 0px none;
  text-align: center;
  justify-content: flex-end;
  max-width: 560px;
  min-width: 100px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 4px 7px 0px #11111152;
  text-align: center;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

@media screen and (max-width: 620px) {
  .section-events-box__default {
    max-width: 300px;
  }
}

.section-events-box__bgImage {
  width: 100%;
  height: 297px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 0px 0px 0px #111;
}

.section-events-box__bar {
  position: relative;
  height: 300px;
}

.section-events-box__barSettings {
  background: linear-gradient(#002d55, #004c8e);
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}

.section-events-box__text {
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  z-index: 1;
  overflow: auto;
  position: relative;
  font-size: 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 620px) {
  .section-events-box__text {
    font-size: min(4vw, 16px);
  }
}

@media screen and (max-width: 300px) {
  .section-events-box__text {
    font-size: 12px;
    align-items: flex-start;
  }
}

.secition-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

footer {
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px;
  background-color: #004c8e;
  display: flex;
  justify-content: center;
}

.footer_logo {
  margin: 10px;
}

@media screen and (max-width: 900px) {
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
    width: 26px;
    height: 45px;
    cursor: pointer;
    z-index: 3;
    right: 10px;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: linear-gradient(#004c8e, #002d55e5);
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    z-index: 2;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu__item:hover {
    background-color: #002d55e5;
  }
}

@media screen and (max-width: 300px) {
  .menu__box {
    width: 80vw;
  }
}
.menu__item {
  font-weight: 300;
}
